@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');
/** general styling **/
  body {
    background-color: rgb(250, 248, 246);
    font-family: 'Epilogue', sans-serif;
  }

  .container{
    height: auto;
    margin-top: 40px;
  }

  /** nav styling **/
.navButton{
    background: white;
    color: rgb(23, 35, 57);
    padding: 12px;
    border-radius: 5px;
    border: 2px solid rgb(23, 35, 57) ;
    font-weight: bold;
    margin-left: auto;
  }

  .navButton:hover{
    background-color: #172339;
    color: #faf8f6;
    cursor: pointer;
  }

  @media  (max-width: 600px ){
    .navButton{
        font-size: 0.8em;
    }
    
}

/** main styling **/

@media  (max-width: 764px ){
    .row{
        display: flex;
        flex-direction: column;
    }
    
}

.leftArea{
    color: #172339;
    margin-top: 80px;
    margin-right: -30px;
  }
  
  
  .leftArea > img{
    float: right; 
    margin-top: -50px;
    position: relative;
  }
  
  
  .leftHeading{
    font-size: 4.2em;
    margin-bottom: 20px;
    position: relative;
  }
  
  .leftHeading > span {
    font-weight: 900;
  }
  
  .leftParagragh{
    position: relative;
    font-size: larger;
    margin-bottom: 30px;
    word-spacing: 5px;
    line-height: 30px;
  }
  
  .leftButton{
    background-color: #172339;
    color: #faf8f6;
    padding: 12px;
    border-radius: 5px;
}
  
  .leftButton:hover{
    background: linear-gradient(35deg, #Cb30e3,#Ffa84e );
    cursor: pointer;
    border: none;
    padding: 14px;
  }


  .mid > img {
    height: 70vh;
    width: 360px;
    margin-left: -80px;
  }

  .content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   align-items: center;
    margin-top: 60px;
   color: #172339;
  }
  
  .contentText{
    text-decoration: none;
    color: #787776;
  }
  
  .contentDigits{
    font-size: 1.3em;
    
  }

  /** cover styling **/
  #cover{
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .cover{
        height: auto;
        background-color:#172339;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
}


  .coverLeft{
    display: flex;
    flex-direction: row;
    background: url("../assets/pattern-blur.svg");
    background-repeat: no-repeat;
    background-position: center;
    
  }
  
  .coverMid{
    margin-left: auto;
    margin-right: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .jImage{
    margin-top: -60px; 
    margin-left: auto;
    margin-right: auto;  
  }
  
  .jImage > img {
    height: auto;    
  }
  
  .coverRight{
    display: flex;
    flex-direction: column;
    color: #faf8f6;
  }
  
  .coverHeading{
    font-size: 38px;    
    margin-bottom: 30px;
    margin-top: 40px;
  }
  
  .quote{
    font-size: 20px;
    word-spacing: 5px;
    line-height: 30px;
  }


   /** footer styling **/
   .footerItems{
    display: flex;
    justify-content: center;
    align-items: center;
   }


  .footMid{
     color: #787776;
     text-align: center;
     font-size: medium;
   }


   .footRight{
    display: flex;
    flex-direction: row;
    justify-content: end;
   }

   .footIcon{
    height: 28px;
    width: 28px;
    margin: 18px;
}

.footIcon:hover {
 background-color: #787776;
 cursor: pointer;
}







  /** media queries for responsive interface **/
 /** tablet view **/
 @media (min-device-width: 764px) 
  and (max-device-width: 990px)
  and (-webkit-min-device-pixel-ratio: 1){
   

    .leftHeading{
      font-size: 3em;
      position: relative;
      width: 130%;
      text-align: initial;
    }
    
    .leftParagragh{
      position: relative;
      font-size: 1em;
    }

    .leftArea > img{
      float: right; 
      margin-right: -50px;
      position: relative;
    }

    

    .mid > img {
        margin-left: 0;
            height: 50vh;
           
            margin: auto;
            
      }

      .content{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: larger;
      }

      .cover{        
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
      }

      .jImage {
        height: auto; 
            margin-top: -100px; 
            margin-left: auto;
            margin-right: auto;  
     }

     .coverMid{
         margin-top: 25px;
      }

      .coverHeading{
        text-align: center;
           
    }
    
      .quote{
        text-align: center;
       
      }
}

  /* Mobile devices view */

@media only screen 
and (min-device-width: 175px) 
and (max-device-width: 764px)
and (-webkit-min-device-pixel-ratio: 2){

    .leftHeading{
        font-size: 2.2em;
      }

      .leftParagragh{
        font-size: 1em;        
      }

      .leftButton{
        display: flex;
        justify-content: center;
        align-items: center;
    }

      .mid > img {
        height: 30vh;
        width: 100%;
        margin: auto;
      
      }

      .leftArea > img{
        width: 200px;
      }

      .content{
     margin-top: 40px;
      
      }      

     .jImage>img{
        height: 320px;
     }

     .coverMid{
        margin-top: 25px;
     }

     .coverHeading{
        text-align: center;
           
    }
    
      .quote{
        text-align: center;
        font-size: medium;
      }

      .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
      }

      .footLeft{
        display: flex;
        justify-content: center;
        align-items: center;  
        margin-bottom: 15px;       
      }
    

      .footMid {
        color: #787776;
        text-align: center;
        font-size: small;
    }   
    

      .footRight {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

      .footIcon{
        height: 22px;
        width: 22px;
        margin: 6px;
      }

}
