@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');
/** general styling **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(250, 248, 246);
    font-family: 'Epilogue', sans-serif;
  }
  
  #page-wrapper {
    position: relative;
  }

  .container {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 0 auto;
    height: 60vh;
  }

  /** header and navbar section styles **/
  #header{
    max-height: 10vh;
  }

.navbar{
    margin-top: 20px;
    margin-bottom: 30px;
    grid-column: 1/-1;
}

.navItems{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0px 90px;     
}

.navlogo{
    padding: 5px;
}

.navButton{
  background: white;
  color: rgb(23, 35, 57);
  padding: 12px;
  border-radius: 5px;
}

.navButton:hover{
    background-color: #172339;
    color: #faf8f6;
    cursor: pointer;
  }

  .navItemBtn{
    margin-left: auto;
}

@media  (max-width: 600px ){
    .navItems{
        font-size: 0.5em;
        padding: 0;
    }

    .leftHeading{
        font-size: 30px;
        margin-bottom: 10px;
        position: relative;
      }
    
}

 /** main section styles **/
 #main{
     margin-top: 60px;
     margin-bottom: 60px;
 }
 .main{
    grid-column: 1/-1;
    width: 85%;
    margin: 0 auto;
  }

  .left{
    color: #172339;
    width:58%;
    position: relative;
}

.leftArea{
  margin-top: 80px;
  margin-right: -30px;
}


.leftArea > img{
  float: right; 
  margin-top: -50px;
}


.leftHeading{
  font-size: 60px;
  margin-bottom: 20px;
  position: relative;
}

.leftHeading > span {
  font-weight: 900;
}

.leftParagragh{
  font-size: larger;
  margin-bottom: 30px;
  word-spacing: 5px;
  line-height: 30px;
}

.leftButton{
  background-color: #172339;
  color: #faf8f6;
  padding: 12px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.leftButton:hover{
  background: linear-gradient(35deg, #Cb30e3,#Ffa84e );
  cursor: pointer;
  border: none;
  padding: 14px;
}

.mid{
width: 30%;
}

.mid > img {
  height: 70vh;
  width: 430px;
  margin-left: -120px;  
}

.right{ 
       
  width: 25%;  
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: end;
  align-items: center;
  margin: 80px;
  gap: 15px;
  color: #172339;
}

.contentText{
  text-decoration: none;
  color: #787776;
  margin-top: -15px;
}

.contentDigits{
  font-size: 42px;
  
}

/**cover styles **/
.cover{
    margin-left: 50px;
    margin-right: 50px;
    height: 60vh;
    background-color:#172339;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    margin-bottom: 50px;
  }
  
  .coverLeft{
    display: flex;
    flex-direction: row;
    width: 40%;
    background: url("../assets/pattern-blur.svg");
    background-repeat: no-repeat;
    background-position: center;
    
  }
  
  .coverMid{
    margin-left: -50px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .jImage{
    margin-top: -60px;  
   
  }
  
  .jImage > img {
    height: 515px;
    margin-left: 100px;
  }
  
  .coverRight{
    display: flex;
    flex-direction: column;
    color: #faf8f6;
    width: 30%;
  }
  
  .coverHeading{
    font-size: 38px;
    
    margin-bottom: 30px;
    margin-top: 40px;
  }
  
  .quote{
    font-size: 20px;
    word-spacing: 5px;
    line-height: 30px;
  }

  /** footer styles **/
  #footer{
      margin-top: 170px;
      margin-bottom: 30px;
      height: 10vh;
  }

  .footer{
    grid-column: 1/-1;
  }

  .footItems{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 20px;
    margin: 0px 90px; 
  }

  .footLeft{
    width: 30%;          
  }

  .footMid{
   width: 40%;
    color: #787776;
    text-align: center;
  }

  .footRight{
   display: flex;
   flex-direction: row;
   justify-content: end;
   width: 30%;
  }

  .footIcon{
      height: 30px;
      width: 30px;
      margin: 20px;
  }

  .footIcon:hover {
   background-color: #787776;
   cursor: pointer;
  }

   /** media queries for responsive interface **/
 /** tablet view **/
 @media (min-device-width: 700px) 
 and (max-device-width: 1280px)
 and (-webkit-min-device-pixel-ratio: 1){
   * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

   body{
     background-color: rgb(250, 248, 246);
   }

   #page-wrapper{
       width: 100%;
   }

   .container {
    display: flex;
    width: 95%;
    margin: 0 auto;
    height: auto;
  }

   .main{
    max-height: 60vh;
    width: 100%;
    display: flex;   
    margin: 0 auto;
  }

  .leftArea > img{
    width: 200px;
    float: right; 
    margin-top: -40px;
  }

  .leftHeading{
    font-size: 46px;
    margin-bottom: 40px;
    margin-top: 20px;
    position: relative;
  }

  .leftParagragh{
    font-size: 18px;
    margin-bottom: 30px;
    word-spacing: 1.5px;
    line-height: 20px;
  }

  .mid > img {
    height: 45vh;
    width: 360px;
    margin-left: -100px;  
  }
  
  .cover{
    margin-left: 35px;
    background-color:#172339;
    border-radius: 10px;
    
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
  }

  .jImage > img {
    height: 415px;
    margin-left: 70px;
  }

  .coverMid{
    margin: 20px;
  }

  .coverHeading{
    font-size: 38px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;    
}

.coverRight{
    width: 100%;
}
  .quote{
    font-size: 20px;
    word-spacing: 5px;
    line-height: 30px;
    text-align: center;
  }

  .footer{
      margin-top: -140px;
  }

  .footIcon{
    height: 28px;
    width: 28px;
  }


  
}


